h1{
    color: rgb(79, 245, 167);
}

body{
    background-image: url("download.jpeg"); /*imagem de fundo do site*/
    /*background-color: rgb(183, 230, 214);*/
    text-align: center;
}
img{
    width: 500px;
}
.naruto{
    text-decoration: nome;
    color: rgb(0, 255, 64);
}
footer{
    
}
.instagram{
    color: rgb(21, 255, 0);
}